:root {
  /* Primary Colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: #00fff7;
  /* Neutral Colors */
  --Dark-blue-main: hsl(217, 54%, 11%);
  --Dark-blue-card: hsl(216, 50%, 16%);
  --Dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  /* Fonts */
  --Semi-bold: 600;
  --Normal: 400;
  --Light: 300;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-inline-size: 100%;
  display: block;
}

/* utilities */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

/* FEM styles */
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: cyan;
}
.attribution {
  margin-top: 1rem;
}
